<form #form="ngForm" (ngSubmit)="submitForm(form)">
    <label>
        Nome:
        <input type="text" name="nome" #nome="ngModel" [ngModel]="nome.value" required>
        <span *ngIf="nome.invalid && (nome.dirty && nome.touched)">Invalid</span>
    </label>
    <br>
    {{nome.valid}}
    {{nome.invalid}}
    {{nome.dirty}}
    {{nome.touched}}
    <br>
    <br>

    <label>
        Masculino:
        <input type="radio" name="sexo" value="Masculino" ngModel>
    </label>
    <br>
    <br>
    <label>
        Feminino:
        <input type="radio" name="sexo" value="Feminino" ngModel>
    </label>
    <br>
    <br>
    <label>
        Outros:
        <input type="radio" name="sexo" value="Outros" ngModel>
    </label>
    <br>
    <br>

    <label>
        Angular:
        <input type="checkbox" name="angular" ngModel>
    </label>

    <br>
    <br>

    <select name="comida" ngModel>
        <option value="">Selecione uma comida</option>
        <option *ngFor="let item of comidas" [value]="item">{{item}}</option>
    </select>

    <br>
    <br>

    <button [disabled]="form.invalid">Enviar Dados</button>

</form>

<br>
<br>

{{ form.value | json }}